.active
{
    background-color: var(--mc-mandalay);
}

.main-page
{
    display: flex;
    height: 100%;
}

/*-------------------- Navbar-side --------------------*/
.main-page .menu-side
{
    flex: 0.1;
    padding: 1.5rem 0.7rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--second-color);
    position: fixed;
    z-index: 1;
    height: 100%;
}
.main-page .menu-side .logo-hero{
    width: 4rem;
}
.main-page .menu-side div
{
    flex: 1;
}
.main-page .menu-side nav
{
    flex: 3;
}
.main-page .menu-side nav ul
{
    display: inline-flex;
    flex-direction: column;
    align-items: center;
}
.main-page .menu-side nav ul li
{
    padding: 0.7rem;
}
.main-page .menu-side nav ul li a
{
    padding: 0.5rem;
    display: flex;
    border-radius: 5px;
}
.main-page .menu-side nav ul li a:hover{
    background-color: var(--mc-mandalay);
    transition: .4s ease-in;
}
.main-page .menu-side nav ul li a img
{
    width: 1.1rem;
}
.main-page .menu-side nav ul li:nth-child(2) a img
{
    width: 1.3rem;
}

/*-------------------- Main --------------------*/
.main-page main
{
    flex: 1.6; 
    padding: 2.5rem;
    margin-left: 5rem;
}
.main-page main .counter-cards
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}
.main-page main .recents-articles
{
    margin-top: 2rem;
}
.main-page main .recents-articles h2
{
    margin-bottom: 1rem;
    font-size: 1.2rem;
    font-weight: normal;
    color: white;
    filter: brightness(0.9);
}
.main-page main .recents-articles .articles
{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}