.main-page main .users-table tbody .admin-buttons {
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
}
.main-page main .users-table tbody .admin-buttons button {
  border: none;
  height: 2.3rem;
  width: 2.3rem;
  font-size: 0.6rem;
  border-radius: 50%;
  margin-right: 1rem;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background-color: var(--button);
}
.main-page main .users-table tbody .admin-buttons button:hover {
  transition: 0.4s ease-in;
  filter: brightness(0.8);
}
.main-page main .users-table tbody .admin-buttons button img {
  width: 30%;
}
