.article-card
{
    position: relative;
    width: 18rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--second-color);
    box-shadow: 0px 0px 12px #AD7F2108;
    border-radius: 7px;
    flex: none;
    margin-right: 2rem;
}
.article-card .article-head
{
    width: 100%;
    height: 150px;
    display: flex;
}
.article-card .article-head img{
    width: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 7px 7px 0px 0px;
}
.article-card .article-body
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.5rem;
}
.article-card .article-body .categorie
{
    padding-bottom: 1rem;
    font-weight: bold;
    color: white;
}
.article-card .article-body h4
{
    font-size: 1rem;
    color: white;
}
.article-card .article-body a
{
    padding: 0.4rem;
    background-color: var(--mc-mandalay);
    color: white;
    text-align: center;
    font-size: 0.8rem;
    border-radius: 0px 10px 0px 10px;
}
.article-card .article-body a:hover
{
    filter: brightness(0.9);
    transition: .4s;
}
.article-card .article-footer
{
    width: 100%;
    display: flex;
    align-items: center;
    padding: 1rem;
    position: relative;
    justify-content: space-between;
}
.article-card .article-footer::before
{
    content: "";
    left: 0;
    top: 0;
    background-color: #00000050;
    width: 100%;
    height: 1px;
    position: absolute;
}
.article-card .article-footer .author-inf
{
    display: flex;
    align-items: center;
}
.article-card .article-footer .author-inf img{
    border-radius: 50%;
    width: 2rem;
}
.article-card .article-footer .author-inf span
{
    font-size: 0.9rem;
    padding-left: 0.5rem;
    color: white;
    filter: brightness(0.7);
}
.article-card .article-footer .date
{
    color: white;
    filter: brightness(0.4);
    font-size: 0.6rem;  
}